<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--
      <class name="myTest.Demo"/>
      
     <class name="myTest.TC17675"/>
       <class name="myTest.TC17679"/>
       <class name="myTest.TC17903"/>
       <class name="myTest.TC17786"/>
      -->
    	<class name="myTest.JournalTest"/>
     
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
